body{
    background-color: #032584;
    color: white;
}
.username{
   text-align: center;
}

.password{
   text-align: center;
   padding-bottom: 25px;
}

.container{
    text-align: center;
    padding-top: 15%;
}

button{
    background-color: black;
    color: white;
}
.photo{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
}
