body {
  text-align: center;
  background-color: #E3F2FD;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

#header {
  color: white;
}

.bed {
  border: #032584;
  border-style: solid;
  border-width: thin;
  font-size: 20pt;
  background-color: transparent;
}

.s6 {
  padding: 15px;
}

.border {
  border: 2px #42a5f5 solid;
}

#div{
  display:fixed !important;
}
