body {
  text-align: center;
  background-color: white;
  color: #FEFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2B7A78;
}

#submit{
  background-color: #FEFFFF;
  color: #17257A
}

.bed {
  border: black;
  border-style: solid;
  border-width: thin;
  font-size: 20pt;
  background-color: transparent;
  cursor: pointer;
}

.s6 {
/*   padding: 15px; */
}

.border {
/*   border: 2px #42a5f5 solid; */
}

#div{
  display:fixed !important;
}

row.col.s6{
  width: 100%;
}
